<h1 align="center"> All Entities</h1>

<table  class="ui fixed table  table-bordered table-striped ">

<%= number_to_currency @entity.sum(:amount)%>
<%= link_to 'Back', user_groups_path %>

    <thead>
        <tr>
            <th> Name</th>
            <th> Amount</th>
            <th> Action</th>
        </tr>
    </thead>
<tbody>

    <% @entity.each do |e|%>
        <tr>
            <td> <%=  e.name %> </td>
            <td> <%= number_to_currency  e.amount %> </td>
            <td>
        </tr>
    <%end%>
</tbody>

</table>

<%= link_to "add a new transaction", new_user_group_entity_path , class:'nav-link' %>